{% extends "base.html" %}
{% block content %}
<body>
    <h1 style="text-align: center; padding-top: 5rem; font-family:'Comic Sans MS'">This is my diary.</h1>
    <br><br>
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-md-2 col-xs-2"></div>
        <div class="col-md-4 col-xs-4">
            <table align="center" style="text-align: center">
                <tr>
                    <th>Date</th>
                    <th>Activity</th>
                </tr>
                {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4 col-xs-4">
            <form method="POST" action="/lab-3/add_activity/">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            Date
                        </td>
                        <td>
                            <input type="datetime-local" name="date" id="date" required="required"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Activity
                        </td>
                        <td>
                            <input type="text" name="activity" id="activity" size="25" required="required"/>
                        </td>
                    </tr>
                </table>
                <br>
                <button type="submit" class="button btn-success">Submit</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
