body{
   margin-top: 70px;
   background-color: #bcd2d0;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

button {
  background-color: #e1e9b7;
}

.btn {
  background-color: #e1e9b7;
}
